
/* COLORS */
$blue-1: #146C94;
$blue-card-accidentes: #0E2954;

$blue-general: #0E2954;
$blue-principal: #146C94;
$blue-secondary: #19A7CE;
$blue-marino: #062A33;


$blue-step-complete: #D7E6ED;
$blue-totales: #D8F0F7;

$blue-marino-1: #202532;
$blue-marino-2: #051B25;

$modal-background: rgba(14, 41, 84, 0.45);

$life-card-button: #84A7A1;

$gray-steps: #F7F7F7;

$soon-card-background: #B0CEDB;

$gray-1: #636769;
$gray-bg-input-disable: #CBCCCD;
$gray-2: #474E51;
$gray-3: #B4B6BA;
$gray-4: #F4F4F5;
$gray-neutral: #F7F7F7;
$gray-cuestionarios: #CFD4DD;

$green-text: #19672E;
$green-bg: #DBEAD4;
$green-border: #D6E6DF;


$red-text: #EA1313;
$red-bg: #FBD7D7;

$warning-input-required: #A58C29;

$yellow-text: #635019;
$yellow-background: #FDF3D1;
$yellow-border: #FDEDBB;

$red-1: #EA1313;

$neutral-color: #F7F7F7;


$black-color: #000;
$black-secondary: #1C1B1F;


$white-color: #fff;


/* FONTS */
$primary-font: 'Manrope', sans-serif;
